.home-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 875px;
  background-image: url("../../assets//Home/bg6.jpg");
}