.github-container
{
  display:flex;
  background-image: url('../../assets/Home/bg-Projects.png');
  align-items: center;
  
}
.title
{
text-align: center;
color: white;
font-size: 40px;
padding-top: 30px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.title1
{
  
  color: olivedrab;
}
.github-grid
{
   display: grid;
   grid-template-columns: repeat(2,1fr) ;
   grid-gap: 130px 200px;
   margin-top: 120px;
   width:100vw;

   align-items: center;
   align-content: center;
   text-align: center;   
}

.link1 img
{
 width: 400px;
 height: 300px; 
}
.link2 img
{
 width: 300px;
 height: 300px; 
}


.link3 img
{
  height: 300px;
  width:400px;
}
.link4 img
{
  height: 300px;
  width:300px;
}

.link1:hover
{

 animation : pulse 2s infinite;
}
.link2:hover
{

 animation : pulse 2s infinite;
 
}
.link3:hover
{
 
 animation : pulse 2s infinite;
}.link4:hover
{

 animation : pulse 2s infinite;

}
@keyframes pulse {
  from {
      transform : scale(1);
      opacity   : 1;
  }
  50% {
      transform : scale(0.75);
      opacity   : 0.25;
  }
  to {
      transform : scale(1);
      opacity   : 1;
  }
}
@media screen and (max-width: 810px){
  .github-grid
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 100px 0px;
  margin-top: 0px;
  width:100vw;
  padding-top: 2rem;
      
}
.link1 img
{
  height: 200px;
  width:200px;
}
.link2 img
{
  height: 200px;
 width:200px;
}


.link3 img
{
  height: 200px;
  width:200px;
}
.link4 img
{
  height: 200px;
  width:200px;
}
.title
{
text-align: center;
color: white;
font-size: 30px;
padding-top: 30px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.title1
{
  
  color: olivedrab;
}
  
}